@font-face {
    font-family: "Quentin";
    src: url(./fonts/Quentin.otf) format('opentype');
  }


@font-face {
    font-family: "CaviarBold";
    src: url(./fonts/caviardreams_bold-webfont.woff) format('woff');
}

@font-face {
    font-family: "CaviarBoldItalic";
    src: url(./fonts/caviardreams_bolditalic-webfont.woff) format('woff');
}

@font-face {
    font-family: "CaviarItalic";
    src: url(./fonts/caviardreams_italic-webfont.woff) format('woff');
}

@font-face {
    font-family: "CaviarClassique";
    src: url(./fonts/caviardreams-webfont.woff) format('woff');
}